
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}


div.wrapper{
	width: 800px;
  	margin: 30px auto;
}

header {
	text-align: left;
	margin-top: 5px	;
}
header h1{
  font-style: italic;
}
article {
  width:350px;
  display: inline-block;
  margin-right: 20px;
}

article h1 {
  font-size: 24px;
}

footer{
	text-align: right;
}
div.front{
  display: inline-block;
}
div.main{
  background-color: #ddd;
}
a.button{
	background-color:#C49B89;
  color: #B20145;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;


  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}
a.button:hover{
	background-color: #9C7B6C;
}
hr{
	margin-top:20px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #555563;
  border-radius: 5px ;
  color:#BDBDDE;
}

nav ul li a:hover {
  background-color: #8989A1;
}

